@font-face {
    font-family: 'Vits';
    src: url(./data/font/VitsFont.ttf);
}

body{
    font-family: 'Vits' !important;
    overflow-x: hidden;
}


.navbar-nav a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.navbar-nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px; /* hauteur du "border" */
    width: 0;
    background-color: black;
    transition: width 0.3s ease;
    border-radius: 2em;
}

.navbar-nav a:hover::after{
    width: 100%;
}

.navbar-brand{
    font-family: 'Vits', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.navbar-nav a{
    font-family: 'Vits', sans-serif;
    font-weight: 600
}

.carousel-item img {
    height: 500px !important; /* tu peux ajuster à 400px ou 600px selon ton goût */
    object-fit: cover !important;
  }

.carousel-caption{
    color: #000;
    background: #00000074;
    padding: 15px;
    backdrop-filter: blur(5px);
}

.project1{
    background: #2A2829;
}

.project1 .container .img-fluid {
    width: 1800px !important;
}
  

.project2{
    background: #2A2829;
}

.project2 .container .img-fluid {
    width: 1800px !important;
}

footer{
    background: #2A2829;
}

footer a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px; /* hauteur du "border" */
    width: 0;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
    border-radius: 2em;
}

footer a:hover::after{
    width: 100%;
}

@media screen and (max-width: 376px){
    header nav .navbar-brand{
        font-size: 1em
    }
}

@media screen and (max-width: 325px){
    header nav .navbar-brand{
        font-size: 0.9em
    }
}